body {
  margin: 0;
  padding: 0;
  font-family: "Calibri";
  font-size: 16px;
  display: block;
  background: url(/assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  color: #272727; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a.hb-menu {
  display: none;
  color: #FFFFFF;
  font-size: 20px; }

a {
  color: #FFFFFF;
  text-decoration: none; }

div.wrapper {
  margin: 0px 20px; }

h1 {
  font-weight: 300;
  font-size: 45px; }

a.hyperlinks {
  color: #272727;
  font-size: 25px;
  border-bottom: 2px solid yellow; }

li.check {
  color: #6AC259; }

li.uncheck {
  color: #F05228; }

.container {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.row::after {
  display: table;
  clear: both;
  content: ""; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

div.intro {
  text-align: center;
  margin-top: 30vh;
  margin-bottom: 200px; }
  div.intro h1.intro-title {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 800; }
  div.intro p {
    font-size: 40px;
    font-weight: 300; }

div.team {
  background-color: #F9F9F9;
  margin: 100px 0px;
  text-align: center;
  padding: 40px 200px; }
  div.team div.profiles {
    margin: 30px 0px; }
    div.team div.profiles img:hover {
      opacity: 0.8; }

div.benefits {
  text-align: center;
  padding: 0px 150px;
  margin: 200px 0px; }
  div.benefits p {
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    color: #707070; }

div.benefits-cards {
  text-align: center;
  margin-bottom: 40vh; }
  div.benefits-cards ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    div.benefits-cards ul li {
      margin: 0px 40px;
      padding: 30px 40px;
      display: inline-block;
      border: 6px solid rgba(237, 237, 237, 0.77); }
      div.benefits-cards ul li p {
        font-size: 25px;
        font-weight: 400; }
      div.benefits-cards ul li:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.19);
        box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.19);
        -webkit-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease; }
        div.benefits-cards ul li:hover div.overlay {
          display: block; }

div.pricing {
  background-color: #F9F9F9;
  text-align: center; }
  div.pricing div.pricing-cards {
    width: 31.3%;
    border: 6px solid rgba(237, 237, 237, 0.77);
    margin: 0px 1%;
    padding: 0px 20px;
    background-color: #FFFFFF; }
    div.pricing div.pricing-cards ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      div.pricing div.pricing-cards ul li {
        line-height: 35px; }
    div.pricing div.pricing-cards ul.pricing-features {
      text-align: left; }
      div.pricing div.pricing-cards ul.pricing-features li {
        font-size: 15px; }
    div.pricing div.pricing-cards ul.pricing-markings {
      float: right; }
      div.pricing div.pricing-cards ul.pricing-markings li {
        width: 1%; }

div.newsletter {
  padding: 60px 0px;
  text-align: center; }
  div.newsletter h1 {
    font-size: 20px;
    font-weight: 600;
    padding: 0px;
    margin: 0px; }
  div.newsletter input {
    margin-top: 20px;
    background-color: #F9F9F9;
    padding: 10px 200px 10px 10px;
    border: 2px solid #272727; }
  div.newsletter button {
    background-color: #272727;
    border: 0px;
    padding: 12px 30px; }
    div.newsletter button:hover {
      background-color: #000000;
      cursor: pointer;
      -webkit-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear; }
    div.newsletter button a {
      color: #BCBCBC;
      text-decoration: none; }

div.hero-clients {
  background-color: #F9F9F9;
  text-align: center;
  margin-bottom: 150px; }
  div.hero-clients img {
    height: 120px;
    margin: 5px; }
  div.hero-clients p {
    font-size: 25px; }
    div.hero-clients p a:hover {
      background-color: yellow;
      color: #272727;
      padding: 5px;
      -webkit-text-decoration-color: #BCBCBC;
      text-decoration-color: #BCBCBC; }

div.appointment-wrapper {
  background-color: #EB432B;
  text-align: center; }
  div.appointment-wrapper h1 {
    color: #FFFFFF; }
  div.appointment-wrapper div.informations h5 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0px; }
  div.appointment-wrapper div.informations input {
    background-color: rgba(255, 255, 255, 0.7);
    border: 0px;
    padding: 15px 300px 15px 10px;
    border-bottom: 3px solid #F9F9F9; }
  div.appointment-wrapper button {
    -webkit-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.3);
    background-color: #272727;
    border: 0px;
    border-bottom: 4px solid #F9F9F9;
    padding: 15px 50px;
    margin-top: 40px; }
    div.appointment-wrapper button a {
      letter-spacing: 2px;
      font-weight: 600; }
    div.appointment-wrapper button:hover {
      border-bottom: 4px solid #000000;
      background-color: #F9F9F9;
      cursor: pointer; }
      div.appointment-wrapper button:hover a {
        color: #000000;
        -webkit-transition: all 0.8s linear;
        -o-transition: all 0.8s linear;
        transition: all 0.8s linear; }
    div.appointment-wrapper button a {
      color: #BCBCBC;
      text-decoration: none;
      font-size: 16px; }

div.footer {
  display: block;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  background-color: #000000; }
  div.footer p {
    color: #BCBCBC; }
  div.footer div.footer-menus {
    text-align: right; }
  div.footer a {
    color: white;
    margin: 10px; }

div.salute-message {
  text-align: center; }

nav {
  background-color: #272727;
  overflow: hidden;
  margin: 0px;
  padding: 10px 20px;
  display: block;
  top: 0px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.35); }
  nav:hover {
    background-color: #F9F9F9;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    nav:hover a {
      color: #4d4d4d; }
    nav:hover button {
      border-color: #000000; }
      nav:hover button:hover {
        background-color: #000000;
        cursor: pointer;
        -webkit-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear; }
        nav:hover button:hover a {
          color: #FFFFFF; }
  nav div.logo {
    float: left;
    margin-top: -4px; }
    nav div.logo a {
      font-size: 30px; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right; }
    nav ul li {
      display: inline;
      margin-left: 40px; }
      nav ul li button {
        background: transparent;
        border: 2px solid #FFFFFF;
        border-radius: 20px;
        padding: 8px 30px; }

.btn-lg {
  background-color: #272727;
  padding: 20px 80px;
  border: 0px;
  border-bottom: 3px solid #FFFFFF;
  -webkit-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.5); }
  .btn-lg:hover {
    background-color: #F9F9F9;
    border-bottom-color: #272727;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .btn-lg:hover a {
      color: #272727; }
  .btn-lg a {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px; }

.btn-md {
  background-color: #272727;
  padding: 20px 55px;
  border: 0px;
  border-bottom: 3px solid #FFFFFF;
  -webkit-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.5); }
  .btn-md:hover {
    background-color: #F9F9F9;
    border-bottom-color: #272727;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .btn-md:hover a {
      color: #272727; }
  .btn-md a {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px; }

.btn-pricing {
  margin: 30px 0px;
  background-color: black;
  border: 0px;
  padding: 15px 30px; }
  .btn-pricing:hover {
    border: 1px solid #000000;
    background-color: #F9F9F9;
    -webkit-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 67px -9px rgba(0, 0, 0, 0.3); }
    .btn-pricing:hover a {
      color: #000000;
      -webkit-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear; }

@media only screen and (max-width: 700px) {
  nav {
    padding: 0px; }
    nav a.hb-menu {
      display: block;
      position: absolute;
      top: 13px;
      right: 20px; }
    nav div.logo {
      width: 100%;
      text-align: center;
      margin: 10px 0px; }
    nav ul.topnav {
      padding: 0;
      margin: 0px;
      height: 0px; }
      nav ul.topnav li {
        width: 100%;
        display: block;
        margin: 0px;
        padding: 8px 0px;
        text-align: center;
        border-bottom: 1px solid white; }
        nav ul.topnav li button {
          border: 0px; }
    nav ul.topnav.responsive {
      padding: 0;
      margin: 0px;
      height: 100%; }
      nav ul.topnav.responsive li {
        width: 100%;
        display: block;
        margin: 0px;
        padding: 8px 0px;
        text-align: center;
        border-bottom: 1px solid white; }
        nav ul.topnav.responsive li button {
          border: 0px; } }

@media only screen and (max-width: 537px) {
  div.intro {
    margin-top: 30vh; }
    div.intro h1.intro-title {
      font-size: 25px; }
    div.intro p {
      font-size: 30px; }
      div.intro p br {
        display: none; } }

@media only screen and (max-width: 435px) {
  div.intro h1.intro-title {
    font-size: 20px; }
  div.intro p {
    font-size: 30px; } }

@media only screen and (max-width: 299px) {
  div.intro button {
    padding: 15px 50px; } }

@media only screen and (min-width: 1500px) {
  div.intro h1.intro-title {
    font-size: 50px; }
  div.intro p {
    font-size: 70px; }
  div.intro .btn-lg {
    padding: 35px 120px; }
    div.intro .btn-lg a {
      font-size: 20px; } }

@media only screen and (max-width: 1226px) {
  div.team {
    padding: 40px 0px; } }

@media only screen and (max-width: 658px) {
  div.team {
    padding: 40px 100px; } }

@media only screen and (max-width: 619px) {
  div.team {
    padding: 40px 90px; } }

@media only screen and (max-width: 599px) {
  div.team {
    padding: 40px 80px; } }

@media only screen and (max-width: 580px) {
  div.team {
    padding: 40px 70px; } }

@media only screen and (max-width: 580px) {
  div.team {
    padding: 40px 0px; } }

@media only screen and (max-width: 400px) {
  div.team h1 {
    font-size: 30px; } }

@media only screen and (max-width: 420px) {
  div.team div.profiles {
    height: 600px;
    overflow: hidden; } }

@media only screen and (max-width: 266px) {
  div.team img {
    width: 266px;
    height: 266px; } }

@media only screen and (max-width: 932px) {
  div.benefits {
    padding: 0px; } }

@media only screen and (max-width: 514px) {
  div.benefits p {
    font-size: 20px;
    margin-bottom: 50px; } }

@media only screen and (max-width: 400px) {
  div.benefits h1 {
    font-size: 30px; } }

@media only screen and (max-width: 354px) {
  div.benefits button {
    padding: 15px 60px; } }

@media only screen and (max-width: 313px) {
  div.benefits {
    margin: 100px 0px; } }

@media only screen and (max-width: 304px) {
  div.benefits button {
    padding: 15px 35px; }
    div.benefits button a {
      font-size: 15px; } }

@media only screen and (max-width: 286px) {
  div.benefits p {
    line-height: 30px; } }

@media only screen and (max-width: 277px) {
  div.benefits h1 {
    font-size: 29px; } }

@media only screen and (max-width: 1357px) {
  div.benefits-cards ul li {
    margin: 0px 35px; } }

@media only screen and (max-width: 1318px) {
  div.benefits-cards ul li {
    margin: 0px 20px; } }

@media only screen and (max-width: 1229px) {
  div.benefits-cards ul li {
    margin: 0px 10px; } }

@media only screen and (max-width: 1168px) {
  div.benefits-cards ul li {
    margin: 0px 5px; } }

@media only screen and (max-width: 1138px) {
  div.benefits-cards ul li {
    margin: 0px 0px; } }

@media only screen and (max-width: 1107px) {
  div.benefits-cards ul li p {
    font-size: 20px; } }

@media only screen and (max-width: 1052px) {
  div.benefits-cards ul li {
    padding: 30px 30px; }
    div.benefits-cards ul li p {
      font-size: 16px; } }

@media only screen and (max-width: 993px) {
  div.benefits-cards ul li {
    padding: 30px 20px; } }

@media only screen and (max-width: 993px) {
  div.benefits-cards ul li {
    padding: 30px 35px; }
    div.benefits-cards ul li button {
      padding: 15px 30px; } }

@media only screen and (max-width: 872px) {
  div.benefits-cards ul li {
    padding: 30px 20px;
    margin-top: 20px; } }

@media only screen and (max-width: 781px) {
  div.benefits-cards ul li {
    padding: 30px 20px; }
    div.benefits-cards ul li button {
      padding: 15px 10px;
      margin-top: 20px; } }

@media only screen and (max-width: 712px) {
  div.benefits-cards ul li {
    padding: 30px 10px; }
    div.benefits-cards ul li button {
      padding: 15px 10px;
      margin-top: 20px; } }

@media only screen and (max-width: 651px) {
  div.benefits-cards ul li {
    padding: 30px 8px; }
    div.benefits-cards ul li button {
      padding: 15px 10px;
      margin-top: 20px; } }

@media only screen and (max-width: 640px) {
  div.benefits-cards ul li {
    width: 100%; }
    div.benefits-cards ul li button {
      padding: 15px 10px;
      margin-top: 20px; } }

@media only screen and (max-width: 1077px) {
  div.pricing div.pricing-cards {
    width: 100%; } }

@media only screen and (max-width: 353px) {
  div.pricing h1 {
    font-size: 30px; } }

@media only screen and (max-width: 532px) {
  div.newsletter input {
    padding: 10px 100px 10px 10px; } }

@media only screen and (max-width: 432px) {
  div.newsletter input {
    padding: 10px 90px 10px 10px; } }

@media only screen and (max-width: 422px) {
  div.newsletter input {
    padding: 10px 70px 10px 10px; } }

@media only screen and (max-width: 422px) {
  div.newsletter input {
    padding: 10px 50px 10px 10px; } }

@media only screen and (max-width: 383px) {
  div.newsletter input {
    padding: 10px 20px 10px 10px; } }

@media only screen and (max-width: 353px) {
  div.newsletter input {
    padding: 10px 10px 10px 10px; } }

@media only screen and (max-width: 342px) {
  div.newsletter input {
    padding: 10px 0px 10px 10px; } }

@media only screen and (max-width: 332px) {
  div.newsletter button {
    padding: 12px 10px; } }

@media only screen and (max-width: 291px) {
  div.newsletter input {
    width: 70%; }
  div.newsletter button {
    padding: 12px 10px; } }

@media only screen and (max-width: 266px) {
  div.hero-clients {
    margin-top: 70px; }
    div.hero-clients h1 {
      font-size: 30px; }
    div.hero-clients img {
      height: 80px;
      margin: 5px; } }

@media only screen and (max-width: 540px) {
  div.appointment-wrapper h1 {
    font-size: 30px; } }

@media only screen and (max-width: 535px) {
  div.appointment-wrapper div.informations input {
    padding: 15px 200px 15px 10px; } }

@media only screen and (max-width: 535px) {
  div.appointment-wrapper div.informations input {
    padding: 15px 90px 15px 10px; } }

@media only screen and (max-width: 314px) {
  div.appointment-wrapper div.informations input {
    padding: 15px 70px 15px 10px; } }

@media only screen and (max-width: 275px) {
  div.appointment-wrapper h1 {
    font-size: 30px;
    margin-bottom: 30px; }
  div.appointment-wrapper div.informations input {
    padding: 11px 50px 15px 10px; } }

@media only screen and (max-width: 266px) {
  div.appointment-wrapper button {
    padding: 15px 10px; } }
