@media only screen and (max-width: 266px) {
  div.hero-clients {
    margin-top: 70px; }
    div.hero-clients h1 {
      font-size: 30px; }
    div.hero-clients img {
      height: 80px;
      margin: 5px; } }
