body
	margin: 0
	padding: 0
	font-family: "Calibri"
	font-size: 16px
	display: block
	background: url(/assets/background.jpg) no-repeat
	background-size: cover
	background-position: center
	height: 100vh
	width: 100%

*
	box-sizing: border-box

a.hb-menu
	display: none
	color: $base-white
	font-size: 20px
